name: Gym Bronze Refresh

on:
  schedule:
    - cron: "0 * * * *"   # every hour
  workflow_dispatch:

jobs:

  attendance-bronze:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Attendance Bronze
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          DATABRICKS_CLUSTER_ID: ${{ secrets.DATABRICKS_CLUSTER_ID }}
          ATTENDANCE_BRONZE_NOTEBOOK_PATH: ${{ secrets.ATTENDANCE_BRONZE_NOTEBOOK_PATH }}
        run: |
          curl -f -X POST "$DATABRICKS_HOST/api/2.1/jobs/runs/submit" \
          -H "Authorization: Bearer $DATABRICKS_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "run_name": "attendance_bronze_refresh",
            "tasks": [
              {
                "task_key": "attendance",
                "existing_cluster_id": "'"$DATABRICKS_CLUSTER_ID"'",
                "notebook_task": {
                  "notebook_path": "'"$ATTENDANCE_BRONZE_NOTEBOOK_PATH"'"
                }
              }
            ]
          }'


  workouts-bronze:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Workouts Bronze
        env:
          DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
          DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
          DATABRICKS_CLUSTER_ID: ${{ secrets.DATABRICKS_CLUSTER_ID }}
          WORKOUTS_BRONZE_NOTEBOOK_PATH: ${{ secrets.WORKOUTS_BRONZE_NOTEBOOK_PATH }}
        run: |
          curl -f -X POST "$DATABRICKS_HOST/api/2.1/jobs/runs/submit" \
          -H "Authorization: Bearer $DATABRICKS_TOKEN" \
          -H "Content-Type: application/json" \
          -d '{
            "run_name": "workouts_bronze_refresh",
            "tasks": [
              {
                "task_key": "workouts",
                "existing_cluster_id": "'"$DATABRICKS_CLUSTER_ID"'",
                "notebook_task": {
                  "notebook_path": "'"$WORKOUTS_BRONZE_NOTEBOOK_PATH"'"
                }
              }
            ]
          }'


  notify:
    runs-on: ubuntu-latest

    needs: [attendance-bronze, workouts-bronze]

    if: always()

    steps:
      - name: Notify Success
        if: ${{ success() }}
        run: echo "Gym bronze pipelines succeeded"

      - name: Notify failure
        if: failure()
        run: echo "Attendance Bronze Refresh FAILED"

      - name: Notify Failure
        if: ${{ failure() }}
        run: echo "Gym bronze pipelines failed"
